
$font-1: 'Heebo', sans-serif;
$font-2:'Poppins', sans-serif;

$color-blue:#2D9CDB;
$color-black:#333;
$color-white: #fff;
$color-gray:#828282;
$color-red:#EB5757;
$color-greed:#27AE60;
$color-black-parra:#4F4F4F;
$color-orange:#F2C94C;
$color-gray-cards:#F2F2F2;