@import '_variables';
@import '_header';
@import '_header';
@import '_introduction';
@import '_services';
@import '_our_works';
@import '_clients';
@import '_footer';



*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    font-family: $font-2;
}

